@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
li {
  display: inline-block;
  list-style: none;
}
li:not(:last-child) {
  margin-right: 8.200rem;
}


p{
text-align: center;
font-size: 25px;
}
button{
  background-color: blue;
  color: #ffffff;
  font-size: 20px;
}